{% extends 'base.html' %}


{% block head %}
<title>Contact Saver</title>
{% endblock %}


{% block body %}

<h2>Add Item</h2>

<div class="main-content">
    <div>
        <form action="/addcontact" method="POST">
            <input type="text" name="name" id="name" placeholder="contacts name*" required required pattern="*/S+.*">
            <input type="text" name="phonenumber" id="phonenumber" placeholder="contacts phone number*" required required pattern="*/S+.*">
            <input type="email" name="email" id="email" placeholder="contacts email">
            <input type="submit" value="Add Contact">
            <p class="info-label">* - required field</p>
        </form>
    </div>
</div>



{% endblock %}