body
{
    font-family: 'Lato', sans-serif;
}

body
{
    text-align: center;
}

h1
{
    font-size: 50px;
}
h2
{
    font-size: 30px;
    font-weight: normal;
}


table
{
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    font-size: 20px;
}
table thead tr {
    background-color: #FF525B;
    color: #ffffff;
    text-align: center;
}
table th,
table td
{
    padding: 12px 15px;
}
table tbody tr {
    border-bottom: 1px solid #dddddd;
}




#searchinput
{
    height: 45px;
    width: 310px;
    font-size: 16px;
    border: 2px solid gray;
    border-radius: 15px;
    padding-left: 10px;
}

#searchinput::-moz-placeholder
{
    text-align: center;
}
#searchinput::-webkit-input-placeholder
{
    text-align: center;
}

#searchinput:focus
{
    outline: none;
}

.home-link
{
    text-decoration: none;
    color: black;
}

.home-link:visited
{
    text-decoration: none;
    color: black;
}

.main-buttons
{
    margin-top: 20px;
    height: 50px;
    width: 320px;
    font-size: 16px;
    border: none;
    border-radius: 10px;
}

.main-content
{
    align-content: center;
    margin-top: 6vh;
}

.main-content form
{
    display: inline-flex;
    flex-direction: column;
    row-gap: 25px;
    /* padding: 0px 50px 50px 50px; */
    width: 400px;
}

.main-content form input
{
    height: 40px;
    font-size: medium;
    padding: 5px;
    border: 2px solid gray;
    border-radius: 25px;
}

.red-flag
{
    color: #FF425B;
}
.no-results
{
    font-size: 25px;
}
.info-label
{
    font-size: 19px;
}